<div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark" >
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> <i class=" fas fa-home" routerLink="/search/quick-search"> </i> </a>
                </li>
  
                 <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> Master </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active text-dark">
                  Client Master
                </li>
              </ol>
            </nav>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">

        <div class=" card">
          <div class="card-header">
            <div class="row ">
              <!-- <div class="col">
                <h3 class="mb-0">All Clients</h3>
              </div>
              <div class="col text-right">
                <button type="button" class="btn btn-primary p-2" (click)="addTemplate(TemplateFormPopup)" style="margin-left: 5px;">
                  <i class="fa fa-plus"></i> Template
                </button>
                <button type="button" class="btn btn-primary p-2" (click)="onDownload('Client Master')">
                  <i class="fa fa-download"></i> Download
                </button>
              </div> -->
              <div class="col-md-6">
                <div class="col">
                  <h3 class="mb-0">All Clients</h3>
                </div>
              </div>
              <div class=" col-md-6">  
              
                <button type="button" class="btn success" tooltip="Template"  (click)="addTemplate(TemplateFormPopup)" style="float: right;margin-left: 5px;">
                  <i class="fa fa-plus fa-lg"> </i> </button>
                  <button type="button" class="btn success" tooltip="Download" (click)="onDownload('Client Master')" style="float: right;">
                    <i class="fa fa-download fa-lg"></i> </button>
                <!-- <button type="button" class="btn success p-2" [disabled]="!isValid()" (click)="onDownload()" style="float: right;">
                  <i class="fa fa-download"></i> Download</button> -->
                <!-- <button class="btn float-right"  style="background-color: #F2A123;border: none;color: #fff;opacity: 1;"  [disabled]="!isValid()" (click)="onDownload()"> Download</button>        -->
            </div> 
            </div>
          </div>
          

          <div class="dataTables_wrapper">
      
            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                  
                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search">
                  
                </ng-template>
              <ng-template pTemplate="header">
                  <tr>

                      <th *ngFor="let col of headerList; let i = index;"  [ngStyle]="i==0 && {'width': '6%'}">
                          {{col.header}}
                          <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon>
                      </th>
                       <th style="width: 5%;">
                        ACTION
                      </th> 
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                  <tr>

                      <td *ngFor="let col of headerList">
                        {{car[col.field]}}
                      </td>
                      
                     <td>
                      <button  type="button" tooltip="Edit" style="
                      padding: 0 0 6px 4px;
                     color: #000;
                     
                      width: 28px;
                     height: 28px;" class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                      (click)="editClient(TemplateFormPopup,car)">
                      <span class="btn-inner--icon"><i class="fa fa-pen" style="
                      color: #000;
                      margin-right: 3px;
                       margin-top: 0.32rem;
                       size: -2px;
                       font-size: 13px;"></i></span>
                    </button>
                      
                     </td>
                     
                  </tr>
              </ng-template>
          </p-table>
  
          <ng-template #TemplateFormPopup let-c="close" let-d="dismiss" let-modal>
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class=" card">
                  <div class=" card-headers"> <div class="row">
                    <div class="col-sm-6"><h3 class="header-title">Client Master</h3></div>
                    <div class="col-sm-6" style="text-align: end;"><button type="button" class="btn success" >
                      <i class="fa fa-times fa-lg" (click)="ClosePopup()"></i> 
                    </button></div>
                  </div></div>
                  <div class="card-body">
                    <!-- added updated form for client master by dhanashree -->
                    <form class="needs-validation" novalidate [formGroup]="AddTemplateForm" (ngSubmit)="onSubmit()">
                      <div class="container">
                                                <div class="row">
                          <div class="col-md-6 mb-3">
                            <label class="form-control-label" for="ClientName">Client Name</label>
                            <input class="form-control" formControlName="ClientName" placeholder="Client Name" type="text"/>
                            <div *ngIf="f.ClientName.touched && f.ClientName.invalid && f.ClientName.errors?.required"
                                 style="color: red; font-size: 14px; margin-top: .25rem;">
                              Client Name is required.
                            </div>
                          </div>
                   
                          <!-- Storage Space -->
                          <div class="col-md-6 mb-3">
                            <label class="form-control-label" for="StorageSpace">Storage Space (GB)</label>
                            <input class="form-control" formControlName="StorageSpace" placeholder="Storage Space" type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
                            <div *ngIf="f.StorageSpace.touched && f.StorageSpace.invalid && f.StorageSpace.errors?.required"
                                 style="color: red; font-size: 14px; margin-top: .25rem;">
                              Storage Space is required.
                            </div>
                          </div>
                        </div>
                   
                        <!-- No of Users & Project Validity -->
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label class="form-control-label" for="NoofUsers">No of Users</label>
                            <!-- dhanashree -->
                            <input class="form-control" formControlName="NoofUsers" placeholder="No Of Users" type="number" min="1"/>  
                            <div *ngIf="f.NoofUsers.touched && f.NoofUsers.invalid && f.NoofUsers.errors?.required"
                                 style="color: red; font-size: 14px; margin-top: .25rem;">
                              Number of Users is required.
                            </div>
                          </div>
                   
                          <div class="col-md-6 mb-3">
                            <label class="form-control-label" for="Projectvalidity">Project Validity</label>
                            <input class="form-control" formControlName="Projectvalidity" type="date" id="Projectvalidity" [min]="minDate"/>
                            <div *ngIf="f.Projectvalidity.touched && f.Projectvalidity.invalid && f.Projectvalidity.errors?.required"
                                 style="color: red; font-size: 14px; margin-top: .25rem;">
                              Project Validity is required.
                            </div>
                          </div>
                        </div>
                   
                        <!-- OCR  -->
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label class="form-control-label" for="OCRdump">OCR</label>
                            <select class="form-control" formControlName="OCRdump">
                              <option value="">Select</option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                            <div *ngIf="f.OCRdump.touched && f.OCRdump.invalid && f.OCRdump.errors?.required"
                                 style="color: red; font-size: 14px; margin-top: .25rem;">
                              Please select an option.
                            </div>
                          </div>
                        </div>
                   
                        <!-- Submit Button -->
                        <div class="row">
                          <div class="col-12 text-right mt-3">
                            <button type="submit" class="btn btn-success p-2">Submit</button>
                          </div>
                        </div>
                       
                      </div>
                    </form>
 
                    
                    
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          </div>

        </div>
  
      </div>
    </div>
  </div>
  <p-toast position="top-left" [showTransformOptions]="'translateY(100%)'" 
                    [showTransitionOptions]="'1000ms'" 
                    [hideTransitionOptions]="'1000ms'" 
                    [showTransformOptions]="'translateX(100%)'"></p-toast>