/* .success {
    border-color:#005984    ;
    color: #005984;
  }
  
  .success:hover {
    background-color:#007ad9;;
    color:white;
    border-color:#007ad9;;
  }

  .btn-primary {
    background-color: #003366;
    border-color: #003366;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  } */
  .dataTables_wrapper{
    margin-top: -0.7rem !important;
  }

  select.form-control {
    /* font-size: 18px;  */
    padding-right: 30px; 
    background-size: 30px; 
  }
  
  select.form-control {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='30' height='30'><path fill='black' d='M7 10l5 5 5-5z'/></svg>"); /* Custom large arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .btn-primary {
    background-color: #003366;
    border-color: #003366;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s;
  }

  th {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .btn {
    border-radius: 5px !important; 
  }
  
  .btn:hover,
  .btn:focus {
    border-radius: 5px !important; 
    box-shadow: none !important;
  }