
<div class="AdvancedSearchMainContainer">
  <div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
           
            <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark" >
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> <i class=" fas fa-home"
                      routerLink="/search/quick-search"> </i> </a>
                </li>

                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> Search </a>
                </li>

                <li aria-current="page" class=" breadcrumb-item active text-dark">
                 Bulk Download
                </li>
              </ol>
            </nav>
          </div>


        </div>
      </div>
    </div>
  </div>


<div class=" container-fluid mt--6">
  <div class=" row">
    <div class="card">
      <form [formGroup]="AdvancedSearchForm">
         
        <div class="card-body">
            <div class="position-relative row form-group">                       
                
             <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">    
              <label class="form-control-label" for="TemplateID">Template :</label>           
                <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateID" (change)="geTemplateNameListByTempID()">
                  <option value=0>Select Template</option>   
                  <option *ngFor="let _Temp of _TemplateList" [value]="_Temp.TemplateID"  >  
                  {{_Temp.TemplateName}}  
                  </option>   
                  </select> 


              </div>

        


               
              <div class="col-lg-9 col-md-4 col-sm-4 col-xs-4">  
               
                <div class="d-flex">
                  <label class="form-control-label" for="TemplateID" style="width:17%;">Uplaod CSV File :</label> 
                <div class="custom-file" style="width: 40%;">  
                                 
                  <input type="file" name="csvReader"  id="csvReader" (change)="uploadListener($event)" accept=".csv"
                  
                  />                  
                  <label style="width: 97%;"
                    class=" custom-file-label"
                    for="csvReader">
                    <span class="selected-file-name"></span>                   
                  </label>
                </div>
              
                <button type="button" class="btn success"  tooltip="Download " style="font-size: 19px;color: black;" (click)="downloadBulkFileBYCSV()">
                <i class="fa fa-download"></i>
                </button>
                <button type="button" class="btn success"  tooltip="SFTP Download" (click)="downloadBulkFileBYCSVOnSFTP()">
                 <!-- <i class="fa fa-download"></i> -->
                 <img style="width:25px;" src="../../../../assets/img/brand/downloading.png" />
                </button>
                <button type="button" class="btn success btn-lg" tooltip="Download CSV" style="font-size: 19px;color: black;"  (click)="downloadFile()">
                <i class=" fas fa-file-download"></i> 
                </button>    
              </div>             
              </div>

              </div>   
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">                  
                 
                    <div class="row">
                      <div class="col-md-6 p-0">
                        <label class="">Multi-Search</label>                 
                        <textarea  formControlName="FileNo" placeholder="Search multiple File by Comma Seperator" class="form-control" formControlName="FileNo" id="multiSearchTextArea" cols="10"  rows="4"></textarea>
                        
                      </div>
                      <div class="col-md-6 search-icon">
                          <!-- <div class="input-group-append btndiv" id="search-addon"> -->
                            <button
                            class="btn success"
                            (click)="downloadBulkFile()"
                            tooltip="File Download"
                            type="button"
                            >
                            <img style="width:25px;" src="../../../../assets/img/brand/file.png" />
                              </button>
                          <!-- </div> -->
                       </div>
                      </div>
                      
              
                    
                 
                </div>

              </div>   
                       

        </div>        


    </form>
    </div>
  </div>
</div>


</div>

 