<div class="AdvancedSearchMainContainer">
  <div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <!-- <h6 class=" h2 text-white d-inline-block mb-0">Search</h6> -->

            <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark" >
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> <i class=" fas fa-home"
                      routerLink="/search/quick-search"> </i> </a>
                </li>

                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)" class="text-gray"> Search </a>
                </li>

                <li aria-current="page" class=" breadcrumb-item active text-dark">
                  Basic Search
                </li>
              </ol>
            </nav>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class="col">
        <div class="card-header">
          <form [formGroup]="ContentSearchForm">
            <div class="row" style="padding-top: 20px;padding-left: 10px; padding-bottom: 20px;">

              <div class="col-md-3">
                <div class="input-group input-group-merge serchInput">
                  <input type="text" class="form-control" name="FileNo" placeholder="Enter values to search"
                    formControlName="FileNo" />
                    <div class="input-group-append btndiv" id="search-addon">
                      <button
                      class="btn-outline-primary" style="width: 50px; border-top-right-radius: 5px; border-bottom-right-radius:5px;"
                      (click)="GetFilterSearch(1)"
                      type="button">
                      <i class="fa fa-search"></i>
                    </button>
                    
                  </div>
                  
                </div>
              </div>
              <div class="col-md-9" style="margin-top: 7px;">
               
               <img tooltip="Refresh" class="refresh" src="assets/refresh.png" (click)="OnLoad()">
                  
               
              </div>
            </div>
           




            <ng-template #ImageViewFormPopup let-c="close" let-d="dismiss" let-modal>
              <div class="modal-content" style="max-width: 900px; height: 90vh; margin: auto; overflow: hidden;">
                <div class="modal-body p-2" style="height: 100%;">
                  <div class="card w-100" style="height: 100%;">
                    <div class="card-header p-2">
                      <div class="row align-items-center">
                        <div class="col-md-8"> 
                          <h5 class="mb-0">Document View</h5>
                        </div>
                        <div class="col-md-4 text-right"> 
                          <i class="fa fa-times fa-lg" (click)="hidepopup()" style="cursor: pointer;"></i> 
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2" style="height: 100%; overflow: hidden;">
                      <div id="contentSearchDocView" style="height: 100%; display: flex; flex-wrap: nowrap;">
                        
                        <!-- Metadata Table -->
                        <div class="col-lg-3 p-1" style="min-width: 280px; overflow-x: auto;">
                          <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
                            <tr *ngFor="let Ilst of _IndexList">
                              <td style="padding: 4px; font-weight: bold;">{{Ilst.DisplayName}}</td>
                              <td style="padding: 4px;">{{Ilst.ColValues}}</td>
                            </tr>
                          </table>
                        </div>
            
                        <!-- Document Viewer -->
                        <div class="col-lg-9 p-1" style="flex-grow: 1; overflow: hidden;">
                          <ng-container *ngIf="fileExt != '.pdf'">
                            <ngx-doc-viewer [url]="FilePath" viewer="google" style="width: 100%; height: 75vh;"></ngx-doc-viewer>
                          </ng-container>
                          <ng-container *ngIf="fileExt == '.pdf'">
                            <ngx-extended-pdf-viewer id="Viewer"
                              [showHandToolButton]="false" [customizeToolbar]="hideTextSelectionTool"  
                              [showOpenFileButton]="false" [page]="_PageNo" [useBrowserLocale]="true" 
                              [textLayer]="true" style="width: 100%; height: 75vh;" 
                              *ngIf="FilePath" [src]="FilePath">
                            </ngx-extended-pdf-viewer>
                          </ng-container>
                        </div>
            
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            
            <ng-template #ShareLinkFormPopup let-c="close" let-d="dismiss" let-modal>
              <div class="modal-content" style="width: 1000px; position: relative; right: 40%;">
                <div class="modal-body p-0">
                  <div class=" card">
                    <div class=" card-header">
                      <h3 class=" mb-0">Share Link</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-row">

                        <div class="col-md-12 mb-3">
                          <label class="form-control-label" style="float:left;padding-right: 45px; padding-top: 12px;"
                            for="ToEmailID">
                            To
                          </label>
                          <!-- <input formControlName="ToEmailID" placeholder="Email" type="email" class="form-control"/> -->
                          <tag-input [(ngModel)]="emailReciepientsShare" [ngModelOptions]="{standalone: true}"
                            [editable]='true' placeholder="Enter email address" [errorMessages]="errorMessages"
                            [validators]="validators" #tagInput [onAdding]="onAddedFunc">
                          </tag-input>
                        </div>
                        <div class="col-md-9">
                          <!-- <label class="form-control-label" for="Subject" style="float:left;padding-right: 45px; padding-top: 12px;" >
                            Subject
                             </label> -->
                          <input class="form-control mt-2 mb-2" style="width:86%;" formControlName="Subject"
                            placeholder="Subject" type="text" />

                        </div>
                        <div class="col-md-3" style="display: flex;justify-content:center;align-items: center;">
                          <input type="checkbox" style="height: 20px;width:20PX;margin-right: 10px;" checked="true"
                            formControlName="predefined" name="predefined" value="Default Template">
                          <label class="form-control-label" for="predefined" style="padding-top: 10px;">
                            Default Template
                          </label>
                        </div>

                        <div class="col-md-12 mb-3">

                          <input type="text" formControlName="ValidDate" placeholder="Valid Date" class="form-control"
                            bsDatepicker [bsValue]="bsValue" [bsConfig]="{
                            isAnimated: true,
                            containerClass: 'theme-red'
                          }" [minDate]="today" />

                        </div>
                        <!-- <br /> -->
                        <!-- <br />
                        -->
                        <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>

                        <!-- </div> -->



                      </div>
                      <div class=" col-md-8" style="padding-top: 32px">
                        <button class="btn submit_btn" [disabled]="!emailReciepientsShare.length"
                          (click)="onSendEmailByShare()"> Send</button>
                        <button class="btn close_btn" (click)="hidepopup()"> Close</button>

                      </div>
                      <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Clear</button> -->

                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #MetaDataFormPopup let-c="close" let-d="dismiss" let-modal>
              <div class="modal-content">
                <div class="modal-body p-0">
                  <div class=" card">
                    <div class=" card-header">
                      <h3 class=" mb-0">Index Data</h3>
                    </div>
                    <div class="card-body">
  
                      <table class="table-hover table-striped table">
  
                        <tr *ngFor="let Ilst of _IndexList">
                          <td><b>{{Ilst.DisplayName}}</b></td>
                          <td>{{Ilst.ColValues}}</td>
                        </tr>
                      </table>
  
                      <div class=" col-md-3" style="padding-top: 32px">
                        <button type="button" class="btn btn-warning" (click)="hidepopup()">Close</button>
                      </div>
  
  
                    </div>
  
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #EmailFormPopup let-c="close" let-d="dismiss" let-modal>
              <div class="modal-content" style="width: 1000px; position: relative; right: 40%;">
                <div class="modal-body p-0">
                  <div class=" card">
                    <div class=" card-header">
                      <h3 class=" mb-0">Send Email</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-row">

                        <div class="col-md-12 mb-3">
                          <label class="form-control-label" style="float:left;padding-right: 45px; padding-top: 12px;"
                            for="ToEmailID">
                            To
                          </label>
                          <!-- <input formControlName="ToEmailID" placeholder="Email" type="email" class="form-control"/> -->
                          <tag-input [(ngModel)]="emailReciepients" [ngModelOptions]="{standalone: true}"
                            [editable]='true' placeholder="Enter email address" [errorMessages]="errorMessages"
                            [validators]="validators" #tagInput [onAdding]="onAddedFunc">
                          </tag-input>
                        </div>
                        <div class="col-md-9">

                          <input class="form-control mt-2 mb-2" style="width:86%;" formControlName="Subject"
                            placeholder="Subject" type="text" />

                        </div>
                        <div class="col-md-3" style="display: flex;justify-content:center;align-items: center;">
                          <input type="checkbox" style="height: 20px;width:20PX;margin-right: 10px;" checked="true"
                            formControlName="predefined" name="predefined" value="Pre Defined">
                          <label class="form-control-label" for="predefined" style="padding-top: 10px;">
                            Default Template
                          </label>
                        </div>
                        <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>

                      </div>


                      <!-- </div> -->
                      <div class=" col-md-8" style="padding-top: 32px">
                        <button class="btn submit_btn" [disabled]="!emailReciepients.length" (click)="onSendEmail()">
                          Send</button>
                        <button class="btn close_btn" (click)="hidepopup()"> Close</button>


                      </div>
                      <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Clear</button> -->

                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </form>
        </div>
        <div class="dataTables_wrapper">
          <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first"
         (onPage)="paginate($event)" [loading]="loading"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div class="row">
            <div class="col-md-6 text-left">
                <button *ngIf="_isDownload == 'true'" type="button" tooltip="Download Files"
                        class="btn success" (click)="DownloadBulkFiles()">
                    <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                </button>

                <button *ngIf="_ShareLink == 'true'" type="button" tooltip="Share link"
                        class="btn success" (click)="ShareLink(ShareLinkFormPopup)">
                    <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>
                </button>

                <button *ngIf="_isEmail == 'true'" type="button" tooltip="Send E-Mail"
                        class="btn success" (click)="SendBulkEmail(EmailFormPopup)">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </button>

                <button type="button" tooltip="Export to CSV"
                        class="btn success" (click)="ExporttoExcel()">
                    <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                </button>

                <button type="button" tooltip="Download to CSV"
                        class="btn success" (click)="onDownloadExcelFile('MetaData')">
                    <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-6">
                <input type="text" pInputText size="50" placeholder="Search records"
                       (input)="searchTable($event)" style="width: 35% !important;" class="global-search">
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [style.width]="'35px'">
                <p-checkbox (onChange)="selectAllRow($event)" #e></p-checkbox>
            </th>
            <th *ngFor="let col of headerList; let i = index;" [ngStyle]="i==0 && {'width': '4%'}" style="white-space: nowrap;">
                {{ col.header }}
                <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon>
            </th>
            <th style="width: 8%;">
                ACTION
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
        <tr>
            <td [style.width]="'35px'">
                <p-checkbox [(ngModel)]="car.selected" [binary]="true" [ngModelOptions]="{standalone: true}"
                            (onChange)="selectRow($event, car)" #e></p-checkbox>
            </td>

            <td *ngFor="let col of headerList">
                <ng-container *ngIf="col.field === 'AccNo'">
                    <a target="_blank"
                       style="color: blue; text-decoration: underline;"
                       (click)="ViewDocument(ImageViewFormPopup, car, MetaDataFormPopup)">
                        {{ car[col.field] }}
                    </a>
                </ng-container>
                <ng-container *ngIf="col.field !== 'AccNo'">
                    {{ car[col.field] }}
                </ng-container>
            </td>

            <td class="">
                <!-- <button type="button" style="color: #000; width: 28px; height: 28px;"
                        class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                        (click)="ViewDocument(ImageViewFormPopup, car, MetaDataFormPopup)" *ngIf="_isDocView == 'true'">
                    <span class="btn-inner--icon"><i class="fas fa-eye" style="color: #000; font-size: 13px;"></i></span>
                </button> -->

                <button type="button" style="color: #000; width: 28px; height: 28px;" tooltip="Download File"
                        class="btn btn-icon btn-secondary btn-icon-only rounded-circle"
                        (click)="DownloadFileAll(car.AccNo, car)" *ngIf="_isDownload == 'true'">
                    <span class="btn-inner--icon"><i class="fas fa-download" style="color: #000; font-size: 13px;"></i></span>
                </button>

                <button type="button" style="color: #000; width: 28px; height: 28px;"  tooltip="Delete File"
                        class="btn btn-icon btn-secondary btn-icon-only rounded-circle" (click)="DeleteFile(car)"
                        *ngIf="_isDelete == 'true'">
                    <span class="btn-inner--icon"><i class="fas fa-trash" style="color: #000; font-size: 13px;"></i></span>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

        </div>
      </div>
    </div>
  </div>


</div>
<p-toast position="top-left" [showTransformOptions]="'translateY(100%)'" 
                    [showTransitionOptions]="'1000ms'" 
                    [hideTransitionOptions]="'1000ms'" 
                    [showTransformOptions]="'translateX(100%)'"></p-toast>